<h3>{{title}}</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        <button class="btn btn-default name" (click)="sortTasks('name')">Name
          <span *ngIf="!sortToggle['name'].order && sortToggle['name'].active" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <span *ngIf="sortToggle['name'].order && sortToggle['name'].active" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </th>

      <th>
        <button class="btn btn-default dueDate" (click)="sortTasks('dueDate')">dueDate
          <span *ngIf="!sortToggle['dueDate'].order && sortToggle['dueDate'].active" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <span *ngIf="sortToggle['dueDate'].order && sortToggle['dueDate'].active" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </th>

      <th class="text-center">
        <button class="btn btn-default priority" (click)="sortTasks('priority')">Priority
          <span *ngIf="!sortToggle['priority'].order && sortToggle['priority'].active" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          <span *ngIf="sortToggle['priority'].order && sortToggle['priority'].active" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
      </th>
      <th class="text-center">
        <div class="btn btn-default">Actions</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks" [ngClass]="{'color_red': !pending}">
      <td>{{task.name}}</td>
      <td>{{task.dueDate | date}}</td>
      <td class="text-center">{{task.priority}}</td>
      <td class="text-center">
        <button class="btn btn-info btn-xs" (click)="editTask(task)">Edit</button>
        <button class="btn btn-danger btn-xs" (click)="deleteTask(task._id)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>