.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.panel.panel-default {
  width: 100%;
  box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
  border: 1px solid gray
}
